.searchbar-container{
  /* margin: auto; */
  margin-top: 60px;
  margin: 60px 15px 30px 15px;
  display: flex;
  justify-content: center;
}

.search {
 width: 600px;
}

@media only screen and (max-width: 400px) {
  .searchbar-container {
    margin-top: 90px;
  }
}

@media only screen and (max-width: 550px) {
  .searchbar-container {
    flex-direction: column;

  }

  .search {
    width: 100%;
  }

  .filter-search {
    margin-top: 20px;
  }
}




