body {
  padding-top: 100px;
}

.wizkid-details-container-center {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.wizkid-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(251, 251, 251);
  width: 500px;
  border-radius: 10px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
}


.wizkid-details-avatar-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.wizkid-details-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: contain;
}

.wizkid-details-name {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
}

.wizkid-details-position {
  font-weight: 400;
  font-size: 20px;
  margin-top: 0px;
}

.wizkid-details-phone-email {
  font-weight: 300;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 6px;
}

.wizkid-details-button-edit {
  border: none;
  padding: 12px 24px;
  background-color: var(--owow-green);
  border-radius: 15px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
  margin-bottom: 24px;
  margin-top: 24px;
}