@import '../colors.css';

.wizkids-list-container {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2px;
  row-gap: 2px; */




  /* max-width: 800px;
  display: grid;
  gap: 10px */
}

.grid-element {
  background-color: var(--background-color);

}