@import '../colors.css';

.wizkids-list-container {
  display: grid;
}

.center-wizkids-grid {
  display: flex;
  justify-content: center;
}


@media (min-width: 695px) {
  .wizkids-list-container { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1035px) {
  .wizkids-list-container { grid-template-columns: repeat(3, 1fr); }
}





