.container {
  display: inline-block;

  width: 150px;
  margin-left: 10px;
}

.dropdown-button {
  width: 100%;
  background-color: var(--owow-green);
  color: black;
  font-weight: 700;
  padding: 22px;
  font-size: 16px;
  border: none;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  height: 100%;
  cursor: pointer;
}

.dropdown-content-container {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
  z-index: 999;
  background-color: white;
  border-radius: 20px;
}

.dropdown-content-list {
  padding: 20px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.dropdown-content-list:hover {
  background-color: rgba(235, 235, 235, 1);;
}

.container:hover .dropdown-content-container {
  display: block;
}

.dropdown-button :hover .dropdown-content-container {
  display: block;
}


.container:hover .dropdown-button  {
  background-color: var(--owow-green-hover);
}

@media only screen and (max-width: 970px) {
  .container {
    position: relative;
  }

  .dropdown-content-container {
    position: absolute;
    right: 0px
  }
}