:root {
  --background-color: rgb(247, 247, 247);
  --card-background-color: rgb(251, 251, 251);
  --employed-color: rgb(117, 162, 62);
  --unemployed-color: rgb(166, 2, 2);
  --delete-color: rgb(166, 2, 2);
  --owow-green: rgb(211,255,122);
}
