@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import 'colors.css';


body,
html {
  font-family: "Roboto", sans-serif;
  margin: 40px 0px;
  background-color: var(--background-color);
}

@media only screen and (max-width: 400px) {
  body,
  html {
    margin:60px 0px;
  }
}
