
.wizkid-edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 50%;
}

.wizkid-edit-button-edit {
  border: none;
  padding: 12px 24px;
  background-color: var(--owow-green);
  border-radius: 15px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
  margin-bottom: 24px;
  margin-top: 24px;
}

.wizkid-edit-button-set-employement {
  border: none;
  padding: 12px 24px;
  background-color: var(--unemployed-color);
  color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
  margin-bottom: 24px;
  margin-top: 24px;
}

@media only screen and (max-width: 750px) {
  .wizkid-edit-form {
    width: 90%;
  }
}
